.navbar{
	padding: 1rem;
	background-color: #2c2c2c;
}

.navbar-brand{
	margin-left: 2rem;
}

/* .navbar-nav .nav-item:hover {
	background-color: rgba(180, 190, 203, 0.4);
} */

.heading{
	color: white;
	margin-left: 1rem;
}